@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

/***** HEADER START *****/

header {
    display: grid;
    justify-items: center;
    padding: 30px;
}

.header-picture-div {
    position: relative;
    width: 100%;
    height: auto;
}

.header-picture img {
    width: 100%;
    height: 100%;
}

.header-name {
    position: absolute;
    bottom: 0px;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Playfair Display';
}

.header-about-me-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 30px 0px;
}

.header-about-me-section p {
    padding: 10px 0px;
    line-height: 1.5rem;
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
}

/***** HEADER END *****/

/***** MAIN START *****/

main {
    width: 100%;
    padding: 30px 30px 120px 30px;
}

.project {
    border: 1px solid black;
}

.projects {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 50px;
}

.projects h1 {
    padding-bottom: 20px;
}

.project .project-image {
    width: 100%;
}

.project-content {
    display: grid;
    padding: 5px 15px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "project-content-name-icons"
    "project-content-description";
}

.project-content-name-icons {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.project-icons {
    display: grid;
    grid-template-columns: repeat(2, 20px);
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.project-content-description {
    text-align: start;
    padding: 15px 0px 50px 0px;
}

.project-name {
    text-align: start;
    padding-left: 15px;
    font-size: 1.3rem;
}

/***** MAIN END *****/

/***** FOOTER START *****/

footer {
    background-color: rgb(15, 164, 209);
    color: white;
    width: 100%;
}

.contact-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding-bottom: 40px;
}

.contact-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 10px;
    gap: 20px;
}

.contact-grid {
    align-items: left;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    justify-content: center;
    gap: 15px;
}

.footer-picture-div {
    width: 100%;
    height: auto;
}

.footer-picture img {
    width: 100%;
    height: 100%;
}



/***** FOOTER END *****/

/***** MISCELLANEOUS START *****/

h1, h2 {
    font-family: 'Playfair Display';
}

.nav-icons {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(150%);
}



/***** MISCELLANEOUS END *****/